version: '3.3'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bristol_food_db
      MYSQL_USER: food_user
      MYSQL_PASSWORD: food_password
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/src
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=bristol_food_db
      - DB_USER=food_user
      - DB_PASS=food_password

volumes:
  db_data: