services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=bristol_food_db
      - POSTGRES_USER=food_user
      - POSTGRES_PASSWORD=food_password
    ports:
      - "5432:5432"

  web:
    build: .
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/src
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=bristol_food_db
      - POSTGRES_USER=food_user
      - POSTGRES_PASSWORD=food_password
      - DB_HOST=db
    depends_on:
      - db

volumes:
  postgres_data: